* {
    justify-content: center;
}

header {
    background-color: #bbb;
    width: 800px;
    margin-left: 220px;
    

}

header h1 {
    font-size: x-large;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

nav {
    background-color: black;
    margin: 0 auto;
    max-width: 800px;
}

nav a:hover{
    border: 1px solid#fff;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav ul {
    display: flex;
}

nav ul li {
    flex: 1 1 100%;
}

main {
    display: grid;
    grid-template-columns: 505px 300px;
}

.card {
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 3px;
}

.content1 {
    background-color: white;
    width: 500px;
    border: 1 solid #000;
    border-radius: 10px;
    margin-right: 2.5px;
    display: flex;
}


.card h2 {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #000;
    margin-left: 50px;
    margin-right: 50px;
    padding: 5px;
}
.card h1 {
    color: black;
    background-color: #bbb;
    padding: 5px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 0;

}

.content2 {
    margin-left: 20px;
}


.content3 img {
    display: flex;
    float: right;
    box-shadow: 0 0 30px #777;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-right: 20px;
    margin-left: 20px;
    width: 120px;
    height: 175px;
}

.place {
    display: flex;
    width: 500px;
}

.flag img{
    width: 200px;
    margin-left: 10px;

}

.flag span {
    margin-left: 20px;
}

.para p {
    margin-top: 1px;
    margin-left: 10px;

}
.image {
    width: 290px;
    margin-left: 3px;
    border-radius: 10px;
    border: 1px solid#000;
}

.image h1 {
    display: flex;
    justify-content: center;
    background-color: #bbb;
    padding: 5px;
    border-radius: 10px;
    margin-top: 0;
    
}

footer {
    background-color: #bbb;
    width: 780px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 220px;
}
footer p{
    display: flex;
    justify-content: center;
    margin-bottom: 1px;
}

footer span {
    display: flex;
    justify-content: center;
    
}
