
/* moile */
header {
    display: grid;
    grid-gap: 1rem;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px;
    background-color: cadetblue;
    

}
header,main, footer {
    margin: 0 auto;
}






nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav {
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    
    
}

nav a:hover {
    color: aqua;
    text-decoration: underline double;
    background-color: cadetblue;
}

.active {
    color: yellow;
}



main img {
    width: 200px;
}

main {
    display: grid;
    justify-content: center;
    border: 1px solid black;
    max-width: 840px;

    

}

main h2 {
    display: flex;
    justify-content: center;
}



p {
    display: block;
    text-align: center;
    font-size: smaller;
    margin-top: 0;
    color: burlywood
    ;
}

footer {
    background-color: cadetblue;
    padding: 5px;
    display: block;
    
}

footer  .item1 {
    font-size: medium;

}

footer .item {
    display: block;
    font-size: medium;
}


