/*larger views*/
@media (min-width: 640px){
    header {
        display: flex;
        text-align: center;
        justify-content: space-between;
        max-width: 800px;
    }

    nav {
        justify-content: flex-end;
        flex-direction: row;
    }

    nav a {
        flex: 1 1 100%;
    }

    .images {
        display: grid;
        grid-template-columns: 200px 200px 200px;
        grid-gap: 50px;
        
        
    }



    
footer {
    background-color: cadetblue;
    padding: 5px;
    display: block;
    max-width: 840px;
}

}

@media only screen and (min-width: 40em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}
	#menu {
		display: none;
	}
}